@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200&family=Libre+Bodoni&display=swap');

$colorBlack : #333333;
$colorWhite : #fafafa;
$colorPrimary : #f8f6f0;
$colorSecondary :#546e7a ;

$fontPrimary : 'Bebas Neue', cursive;
$fontSecondary : 'Libre Bodoni', serif;
$fontForParas : 'Kanit', sans-serif; 

$fontColorPrimary: $colorBlack;
$fontColorSecondary: rgb(121, 16, 121);
$fontColorForParas: $colorBlack;
$fontColorForButton: $colorWhite;