@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200&family=Libre+Bodoni&display=swap");
h1 {
  text-align: center;
  margin: 3rem;
  color: #333333;
  font-family: "Bebas Neue", cursive;
}

h2 {
  margin: 1rem;
  color: #791079;
  font-family: "Libre Bodoni", serif;
}

input {
  padding: 0.5rem;
  margin: 0.7rem;
  font-family: "Bebas Neue", cursive;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border: none;
  border-bottom: solid 2px #333333;
}

input:hover {
  border: none;
  border-bottom: 2px solid #791079;
}

.horizontalInputs {
  display: flex;
  margin-top: 2rem;
}

select {
  font-family: "Kanit", sans-serif;
  color: #333333;
  font-weight: 600;
}

option {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  color: #333333;
}

button {
  padding: 0.3rem;
  margin: 1rem 0 1.5rem 0;
  border-radius: 0.5rem;
  font-family: "Kanit", sans-serif;
  background-color: #546e7a;
  color: #fafafa;
  font-weight: 700;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

p {
  font-family: "Kanit", sans-serif;
  color: #333333;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f6f0;
}

.generalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0 3rem 0;
}